body {
    background-color: #f6f6f6;
}
.nav-link {
    color: #d9d3d2;
    opacity: 0.6;
}
.nav-link:hover {
    opacity: 1;
}
.bgcolor {
    background-color: black;
    opacity: 0.7;
    color: blanchedalmond;
}
.bgcolor:hover {
    opacity: 1;
}
.calling {
    color: black;
    text-decoration: none;
}
.span1{
    background-color: #110b0b;
    padding: 8px 20px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 0.4em;
    letter-spacing: 8px;
}
.website {
    margin: 64px auto;
}
.text {
    color: #706f6f;
}
.text1 {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.jus {
    text-align: justify;
    color: black;
    opacity: 0.6;
}
.coloring {
    opacity: 0.6;
}
.padd {
    padding-left: 40px;
}
img {
    opacity: 0.6;
    border-radius: 10px;
}
img:hover {
    opacity: 1;
}
.spacing {
    letter-spacing: 8px;
}
p {
    line-height: 2em;
}
.margin {
    margin-left: 240px;
}
.jus1 {
    color: black;
}
.jus1:hover {
    text-decoration: none;
}
.light-grey {
    background-color: lightgray;
}
.dark-grey {
    background-color: darkgray;
}
span .span2 {
    padding: 0;
} 
.span2 a {
    color: blanchedalmond;
}
.span2 a:hover {
    text-decoration: none;
}
